{% extends "base.html" %}
{% load static %}
{% block titulo %} Avahs {% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}" />
{% endblock %} 
{% block body %} 
    <div class="container">
        <div class="content">
            <div class="content-header">
                <p></p>
               
            </div>
            <div class="content-middle">
                <h1>
                    Registrarse
                </h1>
                {% if error %}
                <p>
                    El nombre de usuario o correo electr&oacute;nico ya existen, pruebe con otro
                </p>
                {% endif %}
                <form id="formulario" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-content">
                        <div class="contenedor-input">
                            <label>Primer nombre * </label>
                            <input type="text" name="primer_nombre" required>
                        </div>

                        <div class="contenedor-input">
                            <label>Segundo nombre </label>
                            <input type="text" name="segundo_nombre">
                        </div>

                        <div class="contenedor-input">
                            <label>Primer apellido * </label>
                            <input type="text" name="primer_apellido" required>
                        </div>

                        <div class="contenedor-input">
                            <label>Segundo apellido </label>
                            <input type="text" name="segundo_apellido">
                        </div>

                        <div class="contenedor-input">
                            <label>Nombre de usuario * </label>
                            <input type="text" name="nombre_usuario" required>
                        </div>

                        <div class="contenedor-input">
                            <label>Correo electr&oacute;nico * </label>
                            <input type="email" name="correo" required>
                        </div>
        
                        <div class="contenedor-input">
                            <label>Contrase&ntilde;a * </label>
                            <input type="password" id="clave1" name="clave" required>
                        </div>

                        <div class="contenedor-input">
                            <label>Confirmar contrase&ntilde;a * </label>
                            <input type="password" id="clave2" required>
                        </div>

                        <p style="color: red" id="error"></p>
                        <input type="submit" class="button " value="Registrarse">
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="{% static "scripts/registro.js" %}"></script>
{% endblock %}