{% extends "repartidorAppBase.html" %}



{% block body %}
<div class="container">
    <div class="col s12">
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>
                Peticiones
                <span class="badge">4</span></div>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <span class="title">Name</span>
                        <p>Amount</p>
                        <p>Address</p>
                        <p>Time</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">check</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <span class="title">Name</span>
                        <p>Amount</p>
                        <p>Address</p>
                        <p>Time</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">check</i></a>
                    </li>
                </ul>
            </li>
          </ul>
        
    </div>
</div>

  {% endblock %} 